* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.player,
.computer,
.result {
  margin: 10px 20px;
}

.buttons {
  margin: 10px 20px;
}

.btn {
  padding: 10px;
  color: #fff;
  background-color: tomato;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.7;
}
